{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="carousel-container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% set active = true %}
      {% for carouselItem in carouselImages %}
      <div class="carousel-item{% if active %} active{% endif %}">
        <img class="d-block w-100" src="{{ asset('images/' ~ carouselItem.image) }}" alt="{{ carouselItem.title }}">
      </div>
      {% set active = false %}
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</div>

<div class="container-presentation">
  <h2 class="title-home"><svg class="news-icon" width="36px" height="36px" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18 7.16C17.94 7.15 17.87 7.15 17.81 7.16C16.43 7.11 15.33 5.98 15.33 4.58C15.33 3.15 16.48 2 17.91 2C19.34 2 20.49 3.16 20.49 4.58C20.48 5.98 19.38 7.11 18 7.16Z"
        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M16.9699 14.44C18.3399 14.67 19.8499 14.43 20.9099 13.72C22.3199 12.78 22.3199 11.24 20.9099 10.3C19.8399 9.59004 18.3099 9.35003 16.9399 9.59003"
        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M5.96998 7.16C6.02998 7.15 6.09998 7.15 6.15998 7.16C7.53998 7.11 8.63998 5.98 8.63998 4.58C8.63998 3.15 7.48998 2 6.05998 2C4.62998 2 3.47998 3.16 3.47998 4.58C3.48998 5.98 4.58998 7.11 5.96998 7.16Z"
        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M6.99994 14.44C5.62994 14.67 4.11994 14.43 3.05994 13.72C1.64994 12.78 1.64994 11.24 3.05994 10.3C4.12994 9.59004 5.65994 9.35003 7.02994 9.59003"
        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M12 14.63C11.94 14.62 11.87 14.62 11.81 14.63C10.43 14.58 9.32996 13.45 9.32996 12.05C9.32996 10.62 10.48 9.46997 11.91 9.46997C13.34 9.46997 14.49 10.63 14.49 12.05C14.48 13.45 13.38 14.59 12 14.63Z"
        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M9.08997 17.78C7.67997 18.72 7.67997 20.26 9.08997 21.2C10.69 22.27 13.31 22.27 14.91 21.2C16.32 20.26 16.32 18.72 14.91 17.78C13.32 16.72 10.69 16.72 9.08997 17.78Z"
        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg> Qui sommes nous ?</h2>
  <div class="wrapper">
    <div class="logo-presentation">
      <img src="images/logo2.jpg" alt="logo">
    </div>
    <div class="text-presentation">
      <div class="textpres">
        <p>Dans le but de récolter de fonds pour notre Service à la Communauté et de faire mieux connaître notre Service
          Dans le but de récolter de fonds pour notre Service à la Communauté et de faire mieux connaître notre Service
          Club dans notre entité d’Enghien, nous avons développé trois activés pouvant toucher des publics différents.
          Vous trouverez ces organisations dans la page "Actualités".</p>
        <p>Grâce aux bénéfices récoltés chaque année lors de ces trois activités, nous pouvons aider financièrement via
          notre service à la communauté les différents demandeurs et ce principalement dans l’entité d’Enghien et son
          environnement immédiat. A titre d’exemples nous avons aidé : l’Ermitage à Silly, L’école à l’hôpital et à
          domicile, l’ONE d’Enghien, les Scouts d’Enghien, le club de Karaté, le Patro d’Enghien, …
          Un grand merci à toutes les personnes qui nous soutiennent et qui participent à nos activités.
          Les membres du Fifty-One Club d’Enghien.</p>


      </div>
      <a href="{{ path('app_presentation') }}" class="button-2 " role="button">Plus d'informations</a>
    </div>
  </div>

</div>


  <h2 class="title-home"><svg width="32" height="32" viewBox="0 0 32 32" class="news-icon" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_121_5309)">
        <path d="M24 11.6667H29.3334V28H2.66669V4H24V24.6667" stroke="currentColor" stroke-width="2"></path>
        <path d="M7.33331 14.6666V9.33331H19.3333V14.6666H7.33331Z" stroke="currentColor" stroke-width="2"></path>
        <path d="M6.33331 21.3333H20.3333" stroke="currentColor" stroke-width="2"></path>
      </g>
      <defs>
        <clipPath id="clip0_121_5309">
          <rect width="32" height="32" fill="white"></rect>
        </clipPath>
      </defs>
    </svg> Nos dernières actualités</h2>
    <div class="outer-container">
    <div class="latest-news-container"></div>  <!-- This will only have the background and its filter -->
    <div class="latest-news-content">
        <div class="latest-news">
        {% for newsItem in news %}
        <a href="{{ path('news_show', { 'slug': newsItem.getSlug }) }}" class="link-last-news">
            <div class="last-3-news">
            <div class="news-image-cont">
                <img src="/images/{{ newsItem.cover }}" class="last-3-news-img" alt="News Image">
            </div>
                <h5 class="last-3-news-title">{{ newsItem.titre }}</h5>
                <p> {{newsItem.date| date('d-m-Y')}}</p>
                
            </div>
            </a>
        {% endfor %}
        </div>    
    </div>
</div>

 


{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $('.carousel').carousel();

    $('.carousel-control-prev').click(function (event) {
      event.preventDefault();
      $('.carousel').carousel('prev');
    });

    $('.carousel-control-next').click(function (event) {
      event.preventDefault();
      $('.carousel').carousel('next');
    });
  });

  // JavaScript code for animation
  if (window.innerWidth >= 768) {
    function animateElements() {
      var logoPresentation = document.querySelector('.logo-presentation');
      var textPresentation = document.querySelector('.text-presentation');

      // Add your desired animation logic for the logo and text elements here
      logoPresentation.style.transform = 'translateY(0)';
      logoPresentation.style.opacity = '1';
      textPresentation.style.transform = 'translateY(0)';
      textPresentation.style.opacity = '1';
    }

    var animationTriggered = false;

    function handleScroll() {
      // Set the scroll trigger point based on your requirement
      var triggerPoint = 400;

      if (window.scrollY >= triggerPoint && !animationTriggered) {
        animateElements();
        animationTriggered = true;
      }
    }

    window.addEventListener("scroll", handleScroll);
  }
</script>
{% endblock %}
{% endblock %}