{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %}Ajouter un PV{% endblock %}

{% block body %}
<div class="breadcrumb">
        <a href="{{path('member_area')}}" class="area-back">Espace membre ></a> <a href="{{path('summary_list')}}"class="area-back">Liste des PV</a>
</div>
    <div class="container">
        <h2 class="actus-title activite">Ajouter un PV</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="button-2">Créer le PV</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
