{# templates/member/create_meeting.html.twig #}

{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %}Ajouter une réunion {% endblock %}

{% block body %}
<div class="breadcrumb">
    <a href="{{path('member_area')}}" class="area-back">Espace membre ></a>
    <a href="{{path('upcoming_meetings')}}" class="area-back">Calendrier de réunions ></a>
</div>
    <div class="container">
        <h2 class="actus-title activite">Ajouter une réunion</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="button-2">Ajouter la réunion</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
