{# templates/member/create_meeting.html.twig #}

{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %}Ajouter une réunion {% endblock %}

{% block body %}
<a href="{{path('member_area')}}" class="area-back">Retour à l'espace membre</a>
    <div class="container">
        <h2 class="mt-4">Ajouter une réunion</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="button-2">Ajouter la réunion</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
