{# templates/meeting_summary/list.html.twig #}

{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %}PV des réunions{% endblock %}

{% block body %}
<div class="breadcrumb">
    <a href="{{path('member_area')}}" class="area-back">Espace membre ></a>
</div>
    <div class="container">
    <h2 class="actus-title activite">PV des réunions</h2>
    
    <div class="text-right mb-3">
        <a class="button-2" href="{{ path('create_summary') }}">Ajouter un PV</a>
    </div>
    
    {% if summaries is not empty %}
        <div class="list-group">
            {% for summary in summaries %}
                <div class="list-group-item mb-2">
                    <div>
                        <strong>Réunion du {{ summary.date|date('d-m-Y') }}</strong> 
                    </div>
                    <div>
                        {% if summary.pdf %}
                            <a href="{{ path('pdf_display', {'pdf': summary.pdf}) }}" target="_blank">Voir le PDF</a>
                        {% else %}
                            <em>Pas de PV en ligne</em>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">Aucun PV disponible.</p>
    {% endif %}
</div>
{% endblock %}
