{# templates/member/upcoming_meetings.html.twig #}

{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %}Réunion à venir{% endblock %}

{% block body %}
    <div class="breadcrumb">
    <a href="{{path('member_area')}}" class="area-back">Espace membre ></a>
</div>
    <div class="container">
        <h2 class="actus-title activite">Calendrier des réunions</h2>
        <a href="{{ path('create_meeting') }}" class="btn btn-success">Ajouter une nouvelle réunion</a>
    
        {% if upcoming_meetings %}
            {% set currentMonth = null %}
            {% for meeting in upcoming_meetings %}
                {% set meetingMonth = meeting.date|format_date('none', 'MMMM Y', null, 'gregorian', 'fr') %}
                {% if meetingMonth != currentMonth %}
                    <h3 class="mt-4">{{ meeting.date|format_date('none', 'MMMM Y', null, 'gregorian', 'fr') }}</h3>
                {% endif %}
                <ul class="list-group mt-2">
                        <p>
                <a class="deletion" href="{{ path('delete_meeting', {'id': meeting.id}) }}">&#x2715;</a>

                        {{ meeting.date|date('d-m-Y') }} {% if meeting.note %}
                        :{{ meeting.note }}
                        </p>
                        {% endif %}
                    
                </ul>
                {% set currentMonth = meetingMonth %}
            {% endfor %}
        {% else %}
            <p>Pas d'évènements à venir.</p>
        {% endif %}
    </div>
{% endblock %}
