<header>
 <div class="fixed-header">
  <div class="menu">
    
    <nav>
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-icon">
        <span class="navicon"></span>
        <span class="navicon"></span>
        <span class="navicon"></span>
      </label>
      
      <a href="{{ path('home') }}"><img src="/images/logo3.png" class="logo-tel" alt="logo fifty-one"></a>
      <ul class="site-links">
        <li><a href="{{ path('home') }}" class="home-link"><img class="logo-menu" src="/images/logo3.png" alt="logo fifty-one"></a></li>
        <li><a href="{{ path('app_presentation') }}" class="site-link">Présentation</a></li>
        <li><a href="{{ path('app_events') }}" class="site-link">Évènements</a></li>
        <li><a href="{{ path('news_index') }}" class="site-link">Actualités</a></li>
        <li><a href="{{ path('contact') }}" class="site-link">Contact</a></li>
        <li></li>
      </ul>
      {% if app.user %}
          <div class="info-user">
              
              
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="accountDropdownLink">
            <li class="nav-item dropdown">
              {% if app.user.avatar %}
                <img src="{{ asset(app.user.avatar) }}" alt="avatar" class="avatar" height="50" width="50">
              {% else %}
                <img src="{{ asset('images/avatar.png') }}" class="avatar" height="50" width="50" alt="avatar">
              {% endif %}
              {% if app.user.firstName and app.user.lastName %}
                <p class="users-p">{{ app.user.firstName }} {{ app.user.lastName }}</p>
              {% else %}
                <p class="users-p">{{ app.user.email }}</p>
              {% endif %}
            
              </a>
              
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                <a href="{{ path('admin') }}" class="dropdown-item">Tableau d'administration du site</a>
                <a href="{{ path('member_area') }}" class="dropdown-item">Espace membres</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('profile') }}" class="dropdown-item">Mon compte</a>
                <a href="{{ path('edit') }}" class="dropdown-item">Modifier mon profil</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
              </div>
            </li>
          </div>
        {% else %}
          <a href="{{ path('app_login') }}" class="login-link">Se connecter</a>
        {% endif %}
    </nav>
  </div>
 </div>
  <button id="backToTopBtn" title="Go to top" style="display: none;"><i class="fas fa-arrow-up"></i></button>
  {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
     <script>
    console.log('hello')
    document.addEventListener('DOMContentLoaded', function() {
      const menuToggle = document.querySelector('#menu-toggle');
      const logoTel = document.querySelector('.logo-tel');
    console.log('hello')
      menuToggle.addEventListener('change', function() {
        if (menuToggle.checked) {
          logoTel.style.display = 'none';
          console.log('checked');
        } else {
          logoTel.style.display = 'block';
          console.log('not checked');
        }
      });
    });
    



  </script>
  {% endblock %}
</header>
