
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events</h1>
     <a href="{{ path('create_event') }}" class="btn btn-success">Create</a>
    {% for event in events %}
            <li>
                <h2>{{ event.titre }}</h2>
                <p>{{ event.description }}</p>
                <p>Date: {{ event.date|date('Y-m-d') }}</p>
                <p>Available places: {{ event.places }}</p>
                <a href="{{ path('app_member_event_details', {'id': event.id}) }}" class="btn btn-primary">Details</a>
            </li>
        {% endfor %}
{% endblock %}