{% extends 'base.html.twig' %}

{% block title %}Participation à l'évènement{% endblock %}

{% block body %}
<div class="breadcrumb">
    <a href="{{path('member_area')}}" class="area-back">Espace membre ></a>
    <a href="{{path('app_member_event')}}" class="area-back">Activités à venir ></a>
    <a href="{{ path('app_member_event_details', {'id': event.id}) }}"class="area-back">{{event.titre}} </a>
</div>
<div class="forms-container">
    <h1 class="actus-title activite">Participation à l'évènement</h1>

    <form method="POST" action="{{ path('app_participate', {'id': event.id}) }}">
        {{ form_start(participantForm) }}

        <div id="event_participant_guests" data-prototype="{{ form_widget(participantForm.guests.vars.prototype)|e('html_attr') }}">
            {% for guestForm in participantForm.guests %}
                {{ form_row(guestForm) }}
            {% endfor %}
        </div>

       <button type="button" id="add-guest" class="button-2">Ajouter un invité</button>

        <div class="mb-3">
            {{ form_label(participantForm.comment, 'Note') }}
            {{ form_widget(participantForm.comment) }}
        </div>

        <button type="submit" class="button">Participer</button>
        
        {{ form_end(participantForm) }}
    </form>
</div>
{% block javascripts %}
    <!-- Include jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
  {{ parent() }}
    $(document).ready(function () {
        const guestsContainer = $('#event_participant_guests');
        const addGuestButton = $('#add-guest');
        let guestCounter = guestsContainer.children().length;

        addGuestButton.on('click', function () {
            if (!addGuestButton.prop('disabled')) {
                addGuestButton.prop('disabled', true); // Disable the button

                const prototype = guestsContainer.data('prototype');
                console.log("hello");

                const newForm = prototype.replace(/__name__/g, guestCounter);
                guestsContainer.append(newForm);
                guestCounter++; // Increment the counter

                // Re-enable the button after a brief delay (e.g., 1 second)
                setTimeout(function () {
                    addGuestButton.prop('disabled', false);
                }, 1000); // Adjust the delay as needed
            }
        });
    });
</script>
{% endblock %}
{% endblock %}
