{% extends 'base.html.twig' %}
{% block title %}
        {{ event.titre }}
  

    {% endblock %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block body %}
<div class="breadcrumb">
    <a href="{{path('member_area')}}" class="area-back">Espace membre ></a>
    <a href="{{path('app_member_event')}}" class="area-back">Activités à venir</a>
</div>
{% if is_granted('ROLE_ADMIN') %}
    <form action="{{ path('app_member_event_delete', {'id': event.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this event?');">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger space">Supprimer l'évènement</button>
    </form>
{% endif %}

    <div class="member-events-container">

        <div class="events-cover">
    <a href="#" data-toggle="modal" data-target="#coverImageModal">
        <img src="/{{ event.cover }}" alt="cover">
    </a>
</div>
<div class="modal fade" id="coverImageModal" tabindex="-1" role="dialog" aria-labelledby="coverImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-fluid" src="/{{ event.cover }}" alt="Cover Image">
            </div>
        </div>
    </div>
</div>
        <div class="events-info-container">
    <h2>{{ event.titre }}</h2>
    <div class="events-info-container-info">
        <p>{{ event.description }}</p>
        <p>Date: {{ event.date|date('Y-m-d') }}</p>
        <p>Places disponible: {{ event.places }}</p>
        {% if not participant %}
        <form action="{{ path('app_participate', {'id': event.id}) }}" method="post">
            <button class="button-2" type="submit">Participer</button>
        </form>
    </div>
{% else %}
    <p>Vous participez déjà à cet évènement.</p>
    <a href="{{ path('app_edit_guest_list', {'id': participant.id}) }}" class="button">Modifier mes invités</a>
    <form action="{{ path('app_cancel_participation', {'id': participant.id}) }}" method="post">
        <button type="submit" class="button-2">Annuler ma participation</button>
    </form>
{% endif %}
    
        </div>
    </div>
    <div class="participants">
    <h2>Liste des participants</h2>
    <ul>
        {% for participant in participants %}
        <li>
            {% if participant.participant.firstName and participant.participant.lastName %}
            - {{ participant.participant.firstName }} {{ participant.participant.lastName }}
            {% else %}
            - {{ participant.participant.email }}
            {% endif %}
            <ul>
                <li>
                    <div>Invités:</div>
                    <ul>
                        {% for guest in participant.guests %}
                        <li class="invites">
                            {% if guest.prenom and guest.nom %}
                            {{ guest.prenom }} {{ guest.nom }}
                            {% endif %}
                        </li>
                        {% endfor %}
                        <li>
                            Note :{{participant.comment}}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
    </div>
{% endblock %}
