{% extends 'base.html.twig' %}

{% block title %}Liste de réservations{% endblock %}

{% block body %}
    <h1>Listes des réservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Numéro de réservation</th>
                <th>Nombre de places</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.FirstName }}</td>
                <td>{{ reservation.LastName }}</td>
                <td>{{ reservation.reservationNumber }}</td>
                <td>{{ reservation.numberOfpeople }}</td>
                <td>{{ reservation.email }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">montrer</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Ajouter</a>
{% endblock %}
