{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="content">
        <h1>Statistiques</h1>

        <div class="statistics">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Utilisateurs
                        </div>
                        <div class="card-body">
                            <p class="card-text">Nombre d'utilisateurs: {{ totalUsers }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Actualités
                        </div>
                        <div class="card-body">
                            <p class="card-text">Nombre d'actualités: {{ totalNews }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Visites
                        </div>
                        <div class="card-body">
                            <p class="card-text">Nombre de visites: {{ totalVisits }}</p>
                            <p class="card-text">Visiteurs des 7 derniers jours: {{ visitorsLast7Days }}</p>
                            <p class="card-text">Visiteurs du dernier mois: {{ visitorsLastMonth }}</p>
                            <p class="card-text">Visiteurs uniques: {{ totalUniqueVisitors }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{ parent() }}
    </div>
{% endblock %}
