{% extends 'base.html.twig' %}

{% block title %}{% if selectedCategory is not null and selectedCategory.id == categories[0].id %}
        {{ categories[0].nom|upper }}
    {% else %}
       Actualités
    {% endif %}{% endblock %}

{% block body %}
<div class="bandeau-actus">
  <h4>Actualités</h4>
</div>
<div class="example"></div>
<div class="last-news">
<a href="{{ path('news_show', { 'slug': lastNews[0].getSlug }) }}">
  <div class="latest">
    <div class="image" style="background-image: url('/images/{{ lastNews[0].cover}}');"></div>
    <div class="content-news">
      <h3>{{ lastNews[0].titre }}</h3>
      <p>{{ lastNews[0].date | date('d-m-Y') }}</p>
      <p>{{ lastNews[0].description | striptags | slice(0, 100) ~ '...' | raw }}</p>
    </div>
  </div>
  </a>
  <div class="last-2">
    <div class="first-last">
  <a href="{{ path('news_show', { 'slug': lastNews[1].getSlug }) }}">
      <div class="image" style="background-image: url('/images/{{ lastNews[1].cover }}');"></div>
      <div class="content-news">
        <h3>{{ lastNews[1].titre }}</h3>
        <p>{{ lastNews[1].date | date('d-m-Y') }}</p>
    </a>
      </div>
    </div>
    <div class="second-last">
    <a href="{{ path('news_show', { 'slug': lastNews[2].getSlug }) }}">
      <div class="image" style="background-image: url('/images/{{ lastNews[2].cover }}');"></div>
      <div class="content-news">
        <h3>{{ lastNews[2].titre }}</h3>
        <p>{{ lastNews[2].date | date('d-m-Y') }}</p>
      <a/>
      </div>
    </div>
  </div>
</div>

<div class="container-news">

  <h1>
    <h1 class="actus-title">
    {% if selectedCategory is not null and selectedCategory.id == categories[0].id %}
       <svg width="32" height="32" viewBox="0 0 32 32" class="news-icon" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_121_5309)">
  <path d="M24 11.6667H29.3334V28H2.66669V4H24V24.6667" stroke="currentColor" stroke-width="2"></path>
  <path d="M7.33331 14.6666V9.33331H19.3333V14.6666H7.33331Z" stroke="currentColor" stroke-width="2"></path>
  <path d="M6.33331 21.3333H20.3333" stroke="currentColor" stroke-width="2"></path>
</g>
<defs>
  <clipPath id="clip0_121_5309">
    <rect width="32" height="32" fill="white"></rect>
  </clipPath>
</defs>
  </svg> CATÉGORIE : {{ categories[0].nom|upper }}
    {% else %}
       <svg width="32" height="32" viewBox="0 0 32 32" class="news-icon" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_121_5309)">
  <path d="M24 11.6667H29.3334V28H2.66669V4H24V24.6667" stroke="currentColor" stroke-width="2"></path>
  <path d="M7.33331 14.6666V9.33331H19.3333V14.6666H7.33331Z" stroke="currentColor" stroke-width="2"></path>
  <path d="M6.33331 21.3333H20.3333" stroke="currentColor" stroke-width="2"></path>
</g>
<defs>
  <clipPath id="clip0_121_5309">
    <rect width="32" height="32" fill="white"></rect>
  </clipPath>
</defs>
  </svg>  Nos actualités
    {% endif %}
</h1>

</h1>
  </div>
  <div class="filter-search">
  <div class="search-container">
    <form action="{{ path('news_index') }}" method="GET" class="search-form">
        <input type="text" name="search" placeholder="Chercher une actualité ..." class="search-input">
        <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
        
    </form>
    </div>
    <div class="filter-container">
  <form action="{{ path('news_index') }}" method="GET" class="filter-form">
    <div class="select-wrapper">
      <select id="category" name="category" class="filter-select">
        <option value="">Toutes catégories</option>
        {% for category in categories %}
          <option value="{{ category.getSlug() }}" {% if selectedCategory and selectedCategory.getId() == category.getId() %}selected{% endif %}>
            {{ category.getNom() }}
          </option>
        {% endfor %}
      </select>
      <i class="fas fa-chevron-down"></i>
    </div>
    <button type="submit" class="filter-button">Filtrer</button>
  </form>
</div>

</div>



</ul>


    <div class="news-flex-container">
    {% for news in news %}
      <div class="news-card">
    <a href="{{ path('news_show', { 'slug': news.getSlug }) }}" class="">
        <div class="card-home mb-4">
        
          <img src="/images/{{ news.cover }}" class="card-img-top" alt="News Image">
        <p class="date-show">Le {{news.getDate|date('d-m-Y')}}</p>
          <div class="card-body">
            <h5 class="card-title">{{ news.getTitre() }}</h5>
            <p class="card-text">{{ news.getDescription()|striptags|slice(0, 100) ~ '...'|raw  }}</p>
            <div class="bout">
          </div>
          </div>
        </div>
      </a>
      </div>
    {% endfor %}
    </div>
  
 <div class="pagination">
    {{ knp_pagination_render(news) }}
</div>
</div>
{% endblock %}

