{% extends 'base.html.twig' %}

{% block title %}{% if selectedCategory is not null and selectedCategory.id == categories[0].id %}
        {{ categories[0].nom|upper }}
    {% else %}
       Actualités
    {% endif %}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
  <h1>
    <h1>
    {% if selectedCategory is not null and selectedCategory.id == categories[0].id %}
        CATÉGORIE : {{ categories[0].nom|upper }}
    {% else %}
        NOS ACTUALITÉS
    {% endif %}
</h1>

</h1>

    <form action="{{ path('news_index') }}" method="GET">
    <div class="form-group filtrage">
        <label for="category">Filtrer par catégories:</label>
        <select id="category" name="category" class="form-control">
            <option value="">Toutes catégories</option>
            {% for category in categories %}
                <option value="{{ category.getSlug() }}" {% if selectedCategory and selectedCategory.getId() == category.getId() %}selected{% endif %}>{{ category.getNom() }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="bouton-voir filtre">Filter</button>
</form>



</ul>


    
    {% for news in news %}
      <div class="col-md-12 mx-auto">
        <div class="card mb-4">
          <img src="/images/{{ news.cover }}" class="card-img-top" alt="News Image">
          {% if news.categorie != null %}
            <a href="{{ path('news_index', { 'category': news.categorie.getSlug() }) }}" class="cate">{{ news.categorie.nom }}</a>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ news.getTitre() }}</h5>
            <p class="card-text">{{ news.getDescription()|striptags|slice(0, 100) ~ '...'|raw  }}</p>
            <div class="bout">
              <a href="{{ path('news_show', { 'slug': news.getSlug() }) }}" class="bouton-voir">Voir l'actualité</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
 <div class="pagination">
    {{ knp_pagination_render(news) }}
</div>
</div>
{% endblock %}

