{% extends 'base.html.twig' %}

{% block title %}{{ news.Titre }} {% endblock %}

{% block body %}
  <div class="container-actu">
    <div class="imgcover">
      <img src="/images/{{news.getCover}}" alt="image" class="cover">
    </div>
    <p class="date-show">Date: {{ news.date|date('Y-m-d') }}</p>
    <h1 class="actu-title-show">{{ news.Titre }}</h1>
    <h3 class="subtitle-actu">{{ news.soustitre }}</h3>
    <p>{{ news.description|raw }}</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        {% for image in news.getImages() %}
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for image in news.getImages() %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="/images/{{ image.Url }}" class="d-block w-100 carousel-img" alt="Image">
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>

    <ul>
    <h3 class="subtitle-actu">Ajoutez un commentaire:</h3>
    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button class=" submit-btn " type="submit">Envoyer</button>
    {{ form_end(commentForm) }}
      {% for comment in comments %}
        <li>
        <div class="commentaires">
        <h4>{{ comment.pseudo }}</h4>
        {{ comment.dateUpload|date('d-m-Y') }}
        <div class="commentaire-contenu">
          {{ comment.contenu }}
          
        </div>
        </div>
        </li>
      {% endfor %}
    </ul>

    

  </div>
{% endblock %}
