{% extends 'base.html.twig' %}



{% block title %}{{ news.Titre }} {% endblock %}

{% block body %}
<div class="breadcrumb">
    <a href="{{path('news_index')}}" class="area-back">Actualités ></a>
</div>
  <div class="container-actu">


    <div class="imgcover">
      <img src="/images/{{news.getCover}}" alt="image" class="cover">
    </div> 
         
    <p class="date-show">Date: {{ news.date|date('Y-m-d') }}</p>
    <h1 class="actu-title-show">{{ news.Titre }}</h1>
    <h3 class="subtitle-actu">{{ news.soustitre }}</h3>
    <p>{{ news.description|raw }}</p>
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade carousel-news-actus" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% for image in news.getImages() %}
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in news.getImages() %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <a href="#" data-toggle="modal" data-target="#imageModal" data-image-url="/images/{{ image.Url }}">
                        <div class="carousel-background" style="background-image: url('/images/{{ image.Url }}');"></div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <!-- Bootstrap Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"> {# Use modal-lg for large size, you can also try modal-xl for an even larger size #}
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-fluid" src="" alt="Full Image">
            </div>
        </div>
    </div>
</div>


   <div class="comment-section">
        <h3 class="subtitle-actu">Commentaires</h3>
        
      
        <button id="toggleCommentForm" type="button" class="submit-btn">Ajoutez un commentaire</button>
        
       
        <div id="commentForm" class="comment-form" style="display: none;">
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            <button class="submit-btn" type="submit">Envoyer</button>
            {{ form_end(commentForm) }}
        </div>
        
        
        <ul>
            {% for comment in comments %}
                <li class="comment">
                    <div class="avatar">{{ comment.pseudo|first }}</div>
                    <div class="comment-content">
                        <div class="comment-author">{{ comment.pseudo }}</div>
                        <div class="comment-date">{{ comment.dateUpload|date('d-m-Y') }}</div>
                        <div class="comment-text">{{ comment.contenu }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
{{ parent() }}
    document.addEventListener('DOMContentLoaded', function () {
        const commentForm = document.getElementById('commentForm');
        const toggleButton = document.getElementById('toggleCommentForm');

        toggleButton.addEventListener('click', function (event) {
            event.preventDefault();
            event.stopPropagation();

            if (commentForm.style.display === 'none' || commentForm.style.display === '') {
                commentForm.style.display = 'block';
                toggleButton.style.display = 'none'; // Hide the button
                commentForm.style.opacity = 0;
                commentForm.style.transition = 'opacity 0.5s';
                setTimeout(() => commentForm.style.opacity = 1, 10);
            } else {
                commentForm.style.opacity = 0;
                setTimeout(() => {
                    commentForm.style.display = 'none';
                    toggleButton.style.display = 'block'; // Show the button
                }, 500);
            }
        });
    });
     $(document).ready(function () {
            // Initialize Bootstrap modal
            $('#imageModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var imageUrl = button.data('image-url'); // Extract info from data-* attributes

                // Update the modal body with the clicked image
                var modal = $(this);
                modal.find('.modal-body img').attr('src', imageUrl);
            });
        });
</script>
{% endblock %}

