{# templates/contact.html.twig #}

{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %}Contact{% endblock %}
{% block body %}
<div class="bandeau">
  <img src="/images/contact.jpg" class="img-bandeau" alt="">
  <h4>Contactez nous</h4>
</div>
    <div class="div container-contact">
    <div class="contact">
    
    {{ form_start(form) }}
        <div class="contact-field">
        {{ form_row(form.email) }}
        </div>
        <div class="contact-field">
        {{ form_row(form.message) }}
        </div>

        <button type="submit" class="custom-btn btn-8">Envoyer</button>
    {{ form_end(form) }}
    </div>

    </div>
{% endblock %}
