{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="title-home">Liste de vos conversations</h2>
    <ul>
        {% for conversation in usersWithConversations %}
            <li>
                <a href="{{ path('message_show_conversation', {'id': conversation.user.id}) }}">
                    {% if conversation.user.firstName and conversation.user.lastName %}
                        {{ conversation.user.firstName }} {{ conversation.user.lastName }}
                    {% else %}
                        {{ conversation.user.email }}
                    {% endif %}
                    
                    {% if conversation.unreadCount > 0 %}
                        ({{ conversation.unreadCount }} unread messages)
                    {% endif %}
                    
                    {{ conversation.user.getAvatar }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
