{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="title-home">Liste de vos conversations</h2>
    <ul>
        {% for user in usersWithConversations %}
            <li>
                <a href="{{ path('message_show_conversation', {'id': user.id}) }}">
                    {% if user.firstName and user.lastName %}
                        {{ user.firstName }} {{ user.lastName }}
                        {{user.getAvatar}}
                    {% else %}
                        {{ user.email }}
                        {{ user.getAvatar }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
