{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block body %}
	<div class="breadcrumb">
    <a href="{{path('member_area')}}" class="area-back">Espace membre ></a>
</div>
    <h2 class="actus-title activite">Vos conversations</h2>
    <ul>
        {% for conversation in conversations %}
            <li>
                <strong>Conversation avec {{ conversation.user.firstName }} {{ conversation.user.lastName }}</strong>
                <ul>
                    {% for message in conversation.messages %}
                        <li>
                            {{ message.content }} - {{ message.created_at|date('Y-m-d H:i:s') }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
