{% extends 'base.html.twig' %}

{% block body %}
    <h2>Conversation with {{ conversationUser.firstName }} {{ conversationUser.lastName }}</h2>
    <ul>
        {% for message in messages %}
            <li>
                {{ message.content }} - {{ message.createdAt|date('Y-m-d H:i:s') }}
            </li>
        {% endfor %}
    </ul>
    {{ render(controller('App\\Controller\\MessageController::reply', { 'receiver': conversationUser })) }}
{% endblock %}