{# templates/message/new.html.twig #}

{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 
{% endblock %}
{% block title %}Envoyer un message{% endblock %}

{% block body %}
<a href="{{path('member_area')}}" class="area-back"> ->Retour à l'espace membre</a>
<div class="forms-container">
  <h1 class="actus-title activite">Envoyer un message</h1>

  {{ form_start(form) }}
  {{ form_label(form.content,'Message :') }}
  {{ form_widget(form.content) }}
  <button type="submit" class="button">Envoyer</button>
  {{ form_end(form) }}
</div>
{% endblock %}
