
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
  {{ form_start(form, {'action': path('message_reply', {'message': message.id})}) }}
    <div style="display: none;">{{ form_label(form.content)}}</div>
  {{ form_row(form.content) }}
   <div style="display: none;">
    {{ form_label(form.receiver) }}
    {{ form_widget(form.receiver) }}
  </div>
  <button type="submit" class="btn btn-primary">Envoyer</button>
  {{ form_end(form) }}
  </form>
