{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<div class="reservations-container">
    <h1 class="reservations-title">Réservations pour l'évènement: {{ event.titre }}</h1>
    <p class="total-places">Total de places réservées: {{ event.getTotalReservedPlaces }}</p>
    <p class="remaining-places">Places restantes: {{ event.getFreePlaces }}</p>
    <ul class="reservations-list">
        {% for reservation in reservations %}
            <li class="reservation-item">
                {{ reservation.FirstName }} {{ reservation.LastName }} - {{ reservation.numberOfPeople }} personnes
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block head_stylesheets %}
    {{ parent() }}
    <style>
        .reservations-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .reservations-title {
            color: #003049;
            text-align: center;
            margin-bottom: 20px;
        }

        .total-places,
        .remaining-places {
            color: #333;
            background-color: #e7e7e7;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .reservations-list {
            list-style-type: none;
            padding: 0;
        }

        .reservation-item {
            background-color: white;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        }

        .reservation-item:nth-child(even) {
            background-color: #f1f1f1;
        }
    </style>
{% endblock %}