{% extends 'base.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
  <div class="container">
    <h1>Edit Reservation</h1>
    <p>Enter your reservation number and modify your reservation details.</p>

    {# Display any error messages here if needed #}
    {{ form_errors(form) }}

    <form method="post">
      {{ form_row(form.reservationNumber) }}
      {{ form_row(form.firstName) }}
      {{ form_row(form.lastName) }}
      {{ form_row(form.numberOfPeople) }}

      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
{% endblock %}
