{% extends 'base.html.twig' %}

{% block title %}ÉVENEMENTS{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
  <form action="{{ path('app_events') }}" method="GET">
    <div class="form-group">
        <input type="text" name="search" placeholder="Chercher un évènement ..." class="form-control">
    </div>
    <button type="submit" class="bouton-voir">Rechercher</button>
</form>
    {% for events in events %}
      <div class="col-md-12 mx-auto">
        <div class="card mb-4">
        <p class="date-show">Le {{events.getDate|date('d-m-Y')}}</p>
          <img src="/images/{{ events.cover }}" class="card-img-top" alt="News Image">
          <div class="card-body">
            <h5 class="card-title">{{ events.getTitre() }}</h5>
            <p class="card-text">{{ events.getDescription()|striptags|raw  }}</p>
            <div class="bout">
              <a href="{{ path('app_events_show', { 'slug': events.getSlug() }) }}" class="bouton-voir">Voir l'actualité</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="pagination">
    {{ knp_pagination_render(events) }}
</div>
  </div>
</div>
{% endblock %}

