{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
 {% block title %}
    Réservation
    {% endblock %}
{% endblock %}
{% block body %}
<div class="breadcrumb">
    <a href="{{path('app_events')}}" class="area-back">Évènements ></a>
    <a href="{{ path('app_events_show', { 'slug': event.getSlug() }) }}" class="area-back">{{event.titre}} ></a>
</div>
<div class="forms-container">
    <h1>Faire une réservation</h1>

    {{ form_start(form) }}

    {{ form_row(form.firstName, {'label': 'Nom'}) }}
    {{ form_row(form.lastName, {'label': 'Prénom'}) }}
    {{ form_row(form.numberOfPeople, {'label': 'Nombre de participants'}) }}
    {{ form_row(form.email, {'label': 'E-mail'}) }}

    <button type="submit" class="button-2">Réserver</button>

    {{ form_end(form) }}
</div>
{% endblock %}