{% extends 'base.html.twig' %}

{% block body %}
    <h1>Make a Reservation</h1>

    {{ form_start(form) }}

    {{ form_row(form.firstName, {'label': 'First Name'}) }}
    {{ form_row(form.lastName, {'label': 'Last Name'}) }}
    {{ form_row(form.numberOfPeople, {'label': 'Number of People'}) }}

    <button type="submit" class="btn btn-primary">Submit Reservation</button>

    {{ form_end(form) }}
{% endblock %}