{% extends 'base.html.twig' %}

{% block title %}{{ event.Titre }}{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ event.Titre }}</h1>
    <div class="imgcover">
    <img src="/images/{{event.getCover}}" class="cover" alt="dsfqsd">
    </div>
    <h3>qsdqsd</h3>
    <p>{{ event.description|raw }}</p>
    <p>Date: {{ event.date|date('Y-m-d') }}</p>
    <h3>Images:</h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        {% for image in event.getImages() %}
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for image in event.getImages() %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="/images/{{ image.url }}" class="d-block w-100 carousel-img" alt="Image">
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>


  </div>
{% endblock %}
