{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
    {{ parent() }}
</script>
   
{% endblock %}

{% block title %}{{ event.Titre }}{% endblock %}

{% block body %}



  <div class="container">
    <h1 class="title-events">{{ event.Titre }}</h1>
    {% if event.places !=null %}
    {% if event.getAvailablePlaces > 0 %}
    <p class="available-place">Places restantes : {{event.getAvailablePlaces}}</p>
    <div class="reservation">
        <a href="{{ path('app_events_reservation', {'slug': event.getSlug()}) }}" class="button-2">Faire une réservation</a>
        <a href="{{ path('app_modify_reservation', {'slug': event.getSlug()}) }}" class="button-2">Modifier ma réservation</a>
    </div>
{% endif %}
    {% endif %}
    <div class="imgcover">
    <img src="/images/{{ event.getCover }}" class="cover" alt="dsfqsd">
    </div>
    
    <p>{{ event.description|raw }}</p>
    <p>{{ event.date|date('Y-m-d') }}</p>
    
    

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        {% for image in event.getImages() %}
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for image in event.getImages() %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="/images/{{ image.url }}" class="d-block w-100 carousel-img" alt="Image">
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
      </a>
    </div>
    
    

  </div>
{% endblock %}
