<!DOCTYPE html>
<html>
<head>
    <title>Confirmation de réservation</title>
</head>
<body>
    <h1>Confirmation de réservation</h1>
    <p>Merci d'avoir fait une réservation pour l'évènement : "{{ event.getTitre() }}".</p>
    <p>Vos détails de réservation:</p>
    <ul>
        <li>Numéro de réservation: {{ reservation.getReservationNumber() }}</li>
        <li>Évènement: {{ event.getTitre() }}</li>
        <li>Date: {{ event.getDate()|date('Y-m-d H:i') }}</li>
        <li>Nombre de participants: {{ reservation.getNumberOfPeople() }}</li>
    </ul>
</body>
</html>